<div class="container-fluid">
  <h1 class="text-center"><strong>About</strong></h1>
<div class="text-center">
  <p>当サイトはゲームのレビューサイトです。<br>
      気になるゲームの情報がここに！？<br>
      誰でも投稿できますので、気軽に覗いていってね！
  </p>
</div>
  <div class="row">
    <%= image_tag "げ～むちゅう.png", size: "250x250", class: "mx-auto d-block" %>
  </div>
</div>